<<<<<<< HEAD
.about {
    
}
.about__title {

}
.about__title-us {

}
.about__description {

}
.about__contact1-number {

}
.about__contact1-photo1 {
width: 150px;
}
.about__contact1-tekst1 {

}

.about__contact2-number {

}
.about__contact2-photo2 {
    width: 150px;
}
.about__contact2-tekst2 {

}
.about__contact3-number {

}
.about__contact3-photo3 {
width: 150px;
}
.about__contact3-tekst3 {

}
=======
/* Початок коду Andrii Kurash (секція 9) */
.testimonials{
    background-color:azure;
}
/* Кінець коду Andrii Kurash (секція 9) */
>>>>>>> 21c8c6e74bf84eaf73acf189f83a6a9754102d98
