@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@300;400&display=swap');
@import url(fonts/google-fonts-5c2dfa623dbc4a0023e12261.css);
@import url(styles/block5places.css);
@import url(styles/6block-stunning-spots.css);
@import url(styles/testimonials.css);
@import url(styles/header.css);

* {
    margin: 0;
}


:root {
    --main__text-color: rgb(80, 81, 85); 
    --main__border-color: #ccc; 
    --description-text-light: rgba(255, 255, 255, 0.6); 
    --description-text-dark: #505155; 
    --button-color: #14a9ee; 
    --faq-dash:#a9a9a9;
    --dash-color: rgb(238,46,20);
    --text-accordion-color: rgba(169, 169, 169); 
    --text-description-color: rgb(112, 112, 112); 
    --subtitle-light-color: rgba(255, 255, 255, 0.6); 
    --subtitle-dark-color: rgb(111, 115, 128); 
    --background-dark-color: rgb(35, 36, 40); 
    

}


/*FAQ | Kravchenko Yurii | Start*/

.faq {
    background-color: #232428;
}

.faq__content {
    
    display: flex;
    text-align: center;
    margin: 40px 140px;
    display: flex;
    color: whitesmoke;
}

.faq__content-img1 {
    width:800px;
    padding-top: 100px;
    position: relative;

}


.faq__content-information{
    font-family: Roboto,sans-serif;
    margin: 50px;
    text-align: left;
}

.faq__content-items {
    margin: 40px 20px;
}

.faq__content-item1{
    margin: 40px 20px;
}

.faq__content-item2{
    margin: 40px 20px;
}

.faq__content-item3{
    margin: 40px 20px;
}

.faq__content-item4{
    margin: 40px 20px;
}

.faq__content-information-title {
    font-family: 'Playfair Display', serif;
    max-width: 500px;
    position: relative;
    min-width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    line-height: 1.7;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}

.faq__content-information-subtitle {
    font-family: Roboto,sans-serif;
    
}

.faq__content-information-title-text {
    color:#505155;
}

/*FAQ | Kravchenko Yurii | End*/

/*Vladimir Kulik Start*/


.about_block-men-and-sea {
    background: url(img/men_and_sea.jpg) no-repeat bottom ;
    background-size: cover;
    height:1100px;
    
}
.about_text-block {
    display: flex;
}

.about__title-us {
    font-size: 13px;
    margin-left: 230px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: -40px;

}
.about__title-us-defis{
    color: red;
}
.about__title-us-tekst {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-left: 230px;
    margin-right: 40px;
    font-stretch: normal;
    color: #505155;
}
.about__10-days {
    color:#14a9ee;
}
.about__description-oll {
    font-size: 19px;
    margin-top: 60px;
    line-height: 32px;
    margin-right: 230px;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif; 
    color: rgb(80, 81, 85);
}
.about__description1 {
margin-bottom: 35px;
}
.about__description2 {
margin-top: 35px;
}
.about__contact{
    display: flex;
    justify-content: center;
    margin-top: 80px;

}
.about__contact1-number {
background-color: rgb(255, 255, 255);
margin-left: 180px;
margin-right: 30px;
}
.about__contact1-photo1 {
width: 150px;
height: 100px;
margin-left: 40px;
padding: 0 10px;
}
.bout__contact1-zagolovok1 {
    margin-left: 40px;
}
.about__contact1-tekst1 {
    margin-left: 40px;
    margin-right: 50px;
}

.about__contact2-number {
    background-color: rgb(255, 255, 255);
}
.about__contact2-photo2 {
    width: 190px;
    height: 100px;
    margin-left: 40px;
}
.bout__contact2-zagolovok2 {
    margin-left: 40px;
}
.about__contact2-tekst2 {
    margin-left: 40px;
    margin-right: 50px;
}
.about__contact3-number {
    background-color: rgb(255, 255, 255);;
    margin-right: 180px;
    margin-left: 30px;
   
}
.about__contact3-photo3 {
width: 150px;
margin-right: 200px;
margin-left: 40px;
}
.bout__contact3-zagolovok3 {
    margin-left: 40px;
}
.about__contact3-tekst3 {
margin-right: 50px;
margin-left: 40px;
}
/*Vladimir Kulik Stop*/

/* Кравчишин Роман */


.route__content {
    background-image: url(img/background__route.png);
    background-size: cover;
    color: white;
}

.icon__map {
    font-size: 17px;
    font-family: "object-fit:cover";
    font-weight: 400;
    height: 499px;
    line-height: 28.9px;
    object-position: 50% 50%;
    width: 467.5px;
    text-align: left;
}

.subtitle__devider {
    color: rgb(238,46,20);
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.route__map-subtitle {
    color:rgba(255,255,255,0.6);
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.first__name {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Playfair Display", serif;
    text-align: left;
}

.photo__offers {
    background: #14a9ee;
    fill: #14a9ee;
    border-radius: 30%;
    max-width: 100%;
}


/* Кравчишин Роман кінець */

