body {
    margin: 0;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD

<!--Vladimir Kulik Start-->
=======



<!--FAQ | Kravchenko Yurii | Start -->
.faq {
    
}

.faq__content {
    background-color: #232428;
    margin: auto;
    text-align: center;
    display: flex;
    color: whitesmoke;
    font-family: Roboto,sans-serif;
}

.faq__content-img1 {
    width:1000px;
    position: relative;
}

.faq__content-information{
    margin: 50px;
    text-align: left;
}

.faq__content-items {
    margin: 40px 20px;
}

.faq__content-item1{
    margin: 40px 20px;
}

.faq__content-item2{
    margin: 40px 20px;
}

.faq__content-item3{
    margin: 40px 20px;
}

.faq__content-item4{
    margin: 40px 20px;
}

.faq__content-information-title {
    max-width: 500px;
    position: relative;
    min-width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    line-height: 1.7;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}

.faq__content-information-title-text {
    color:#505155;
}

.faq__content-item-text {
    
}
<!--FAQ | Kravchenko Yurii | End -->


.about {
    
}
.about__title {
 
}
.about__title-us {

}
.about__description {

<<<<<<< HEAD

=======
.about__contact {
    
}
>>>>>>> 540dc93eec4cf2aa84f9c229572cb6e8db9f804d

.about__contact1-number {

}
.about__contact1-photo1 {
width: 150px;
}
.about__contact1-tekst1 {

}

.about__contact2-number {

}
.about__contact2-photo2 {
    width: 150px;
}
.about__contact2-tekst2 {

}
.about__contact3-number {

}
.about__contact3-photo3 {
width: 150px;
}
.about__contact3-tekst3 {

}
<<<<<<< HEAD

=======
<!--Vladimir Kulik Stop-->

=======
>>>>>>> b2e04720deefa2344263853c03de809a4d7d8ba2
>>>>>>> 540dc93eec4cf2aa84f9c229572cb6e8db9f804d
/* Початок коду Andrii Kurash (секція 9) */
.testimonials{
    background-color:azure;
}
/* Кінець коду Andrii Kurash (секція 9) */



