@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
:root {
    --main__text-color: rgb(80, 81, 85); 
    --main__border-color: #ccc; 
    --description-text-light: rgba(255, 255, 255, 0.6); 
    --description-text-dark: #505155; 
    --button-color: #14a9ee; 
    --faq-dash:#a9a9a9;
    --dash-color: rgb(238,46,20);
    --text-accordion-color: rgba(169, 169, 169); 
    --text-description-color: rgb(112, 112, 112);
    --title-light-color: #f5f5f5; 
    --subtitle-light-color: rgba(255, 255, 255, 0.6); 
    --subtitle-dark-color: rgb(111, 115, 128); 
    --background-dark-color: rgb(35, 36, 40); 
    --faq__subtitle_text-color: #a9a9a9;
    
    

}

.contact__us-form{
  background: url(..//img/contact__form-img-bg.png) 70% 20%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 140%;
  display: flex;

}

.contact__form-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 900px;
}

.container__form {
  display: flex;
  align-items: center;
  text-align: center;
  height: 550px;
  max-width:500px;
  width:100%;
  margin:0 auto;
  position:relative;
  background-color: var(--background-dark-color);
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { 
  font:600 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background-color: var(--background-dark-color);
  padding:25px;
  margin:30px 0;
}

#contact h3 {
  font-family: 'Playfair Display', serif;
  color: var(--title-light-color);
  display: block;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 5%;
}

#contact h4 {
  color: var(--faq__subtitle_text-color);
  margin:5px 0 15px;
  display:block;
  font-size:13px;
  margin-bottom: 10%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:var(--button-color);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:var(--dash-color);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

@media (min-width: 1200px) { 
  .contact__form-container {
    margin-right: 960px;
  }
}

@media (max-width: 1000px) {
  .contact__us-form{
    background-size: 200%;
  }
}

@media (max-width: 600px) {
  .contact__us-form{
    background-size: 240%;
  }
}

