.header-content {
    background: url(../img/header-background5120.png);
    background-size: cover;
}

.video-preview__subtitle {
    color: #fff;
    list-style-type: none;
}

.subtitle__detailed a{
    text-decoration: none;
    color: #fff;
}

.header__inscription {
    color: #fff;
}

.inscription__divider {
    color: rgb(238,46,20);
    font-weight: bold;
}

.header__inner-videoicon img{
    width: 12px;
    height: 100%;
    
}

.header__inner-videoicon a{
    text-decoration: none;
    color: #fff
}



.header__navbar-logo img{
    width: 188px;
    height: auto;
}

.header__inner-title {
    font-size: 120px;
    color: #fff;
}


.menu__link {
    text-decoration: none;
}

.header__menu-navbar a{
    color: #fff;
}