.header-content {
    background: url(../img/header-background5120.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    
}

.header__navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2%;
    font-weight: 600;
    line-height: 1;
    font-family: Roboto, sans-serif;
} 

.menu__link {
    margin: 0 7px;
}

.button:hover {
    background: #fff;
    color: #000;
}

.menu-navbar__burger {
    display: none;
}

.burger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.header__inner {
    margin-left: 18%;
    margin-top: 8%;
}

.header__inscription {
    color: var(--title-light-color);
    font-weight: 600;
    font-family: Roboto, sans-serif;
}

.header__inner-title {
    font-family: Playfair Display, serif;
    font-size: 170px;
    color: var(--title-light-color);
}

.header__inner-videoicon {
    margin-bottom: 3%;
}

.header__inner-videoicon img {
    width: 12px;
    height: 100%;

}

.header__inner-videoicon a {
    text-decoration: none;
    color: var(--title-light-color);
}

.header__inner-video-preview {
    margin-left: 55%;
    margin-bottom: 8%;
}

.header__inner-video-preview img{
    width: 45%;
}

.video-preview__subtitle {
    color: var(--title-light-color);
    list-style-type: none;
    padding: 3% 0;
}

.subtitle__name{
    font-weight: bold;
}

.subtitle__name, .subtitle__cost-and-dates, .subtitle__description {
    margin: 2% 0;
}

.subtitle__detailed a{
    text-decoration: none;
    color: var(--title-light-color);
}

.subtitle__description {
    color: #6f7380;
    font-size: 13px;
    font-weight: 700;
}

.inscription__divider {
    color: var(--dash-color);
    font-weight: bold;
}

.header__navbar-logo img{
    width: 188px;
    height: auto;
}

.menu__link {
    text-decoration: none;
}

.header__menu-navbar a{
    color: var(--title-light-color);
}

@media (max-width: 768px) {
    .menu__link {
        display: none;
    }

    .header__inner-title {
        font-size: 100px;
    }

    .header__inner-video-preview {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0%;
    }

    .header__inner-video-preview img {
        width: 80%;
    }

    .menu-navbar__burger {
        display: block;
    }

    .menu-navbar__burger.active .burger__bar:nth-child(2) {
        opacity: 0;
    }

    .menu-navbar__burger.active .burger__bar:nth-child(1) {
        transform: translateY(8px)  rotate(45deg);
    }

    .menu-navbar__burger.active .burger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .menu__link{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #232428;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 16px 0;
    }

    .header__menu-navbar.active{
        left: 0;
    }
}