.header-content {
    background: url(../img/header-background5120.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    overflow-x: hidden;
    
}

.header__navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2%;
    font-weight: 600;
    line-height: 1;
    font-family: Roboto, sans-serif;
} 

.menu__link {
    margin: 0 7px;
}

.button:hover {
    background: #fff;
    color: #000;
}

.header__inner {
    margin-left: 18%;
    margin-top: 8%;
}

.header__inscription {
    color: #fff;
    font-weight: 600;
    font-family: Roboto, sans-serif;
}

.header__inner-title {
    font-family: Playfair Display, serif;
    font-size: 170px;
    color: #fff;
}

.header__inner-videoicon {
    margin-bottom: 3%;
}

.header__inner-videoicon img {
    width: 12px;
    height: 100%;

}

.header__inner-videoicon a {
    text-decoration: none;
    color: #fff;
}

.header__inner-video-preview {
    margin-left: 55%;
    margin-bottom: 8%;
}

.header__inner-video-preview img{
    width: 45%;
}

.video-preview__subtitle {
    color: #fff;
    list-style-type: none;
    padding: 3% 0;
}

.subtitle__name{
    font-weight: bold;
}

.subtitle__name, .subtitle__cost-and-dates, .subtitle__description {
    margin: 2% 0;
}

.subtitle__detailed a{
    text-decoration: none;
    color: #fff;
}

.subtitle__description {
    color: #6f7380;
    font-size: 13px;
    font-weight: 700;
}

.inscription__divider {
    color: var(--dash-color);
    font-weight: bold;
}

.header__navbar-logo img{
    width: 188px;
    height: auto;
}

.menu__link {
    text-decoration: none;
}

.header__menu-navbar a{
    color: #fff;
}
