

.about_block-men-and-sea {
    background: url(../img/men_and_sea.jpg) no-repeat bottom ;
    background-size: contain;
    height:1100px;
    
}
.about_text-block {
    display: flex;
    margin-top: 100px;
}

.about__title-us {
    font-size: 13px;
    margin-left: 230px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: -40px;

}
.about__title-us-defis{
    color: red;
    height: 20%;
    
}
.about__title-us-tekst {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-left: 200px;
    font-stretch: normal;
    color: #505155;
    margin-top: 40px;
    line-height: 55px;
  
}
.about__10-days {
    color:#14a9ee;
}
.about__description-oll {
    font-size: 19px;
    margin-top: 60px;
    line-height: 32px;
    margin-right: 230px;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif; 
    color: rgb(80, 81, 85);
}
.about__description1 {
margin-bottom: 35px;
}
.about__description2 {
margin-top: 35px;
}
.about__contact{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.about__contact1-number {
background-color: rgb(255, 255, 255);
margin-left: 180px;
margin-right: 30px;
margin-top: 20px;
}
.about__contact1-photo1 {
width: 150px;
height: 100px;
margin-left: 40px;
padding: 0 10px;
}
.bout__contact1-zagolovok1 {
    margin-left: 40px;
    font-size: 25px;
}
.about__contact1-tekst1 {
    margin-left: 40px;
    margin-right: 50px;
}

.about__contact2-number {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}
.about__contact2-photo2 {
    width: 190px;
    height: 100px;
    margin-left: 40px;
}
.bout__contact2-zagolovok2 {
    margin-left: 40px;
    font-size: 25px
}
.about__contact2-tekst2 {
    margin-left: 40px;
    margin-right: 50px;
}
.about__contact3-number {
    background-color: rgb(255, 255, 255);;
    margin-right: 180px;
    margin-left: 30px;
    margin-top: 20px;
   
}
.about__contact3-photo3 {
width: 150px;
margin-right: 200px;
margin-left: 40px;
}
.bout__contact3-zagolovok3 {
    margin-left: 40px;
    font-size: 25px
}
.about__contact3-tekst3 {
margin-right: 50px;
margin-left: 40px;
}
.clock_sea{
    width:350px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock_sea.png), no-repeat bottom;
    background-size: cover;
    box-shadow: 0 -15px 15px rgba(134,134,134,0.35), inset 0 -15px -15px #191919,
    0 15px 15px rgba(134,134,134,0.35), inset 0 15px -15px #191919;
    border-radius: 50%;
    margin: 30px auto;
}
.clock_sea::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 999;
}

.clock_sea .hour_sea,
.clock_sea .min_sea,
.clock_sea .sec_sea{
    position: absolute
}
.clock_sea .hour_sea .hr{
width: 160px;
height: 160px;
}
.clock_sea .min_sea .mn{
width: 190px;
height: 190px;
}
.clock_sea .sec_sea .sc{
width: 230px;
height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: rgb(87, 57, 23);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background-color:  rgb(87, 57, 23);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: rgb(87, 57, 23);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}



@media (max-width: 760px) {
    .about__title-us-defis{
        color: red;
        height: 50px;
    }
    .about__title-us {
        margin-left: 20px;
        padding-bottom: 15px;
    }
    .about__title-us-tekst {
       margin-left: 20px;
       margin-right: 20px;
       font-size: 35px;
       width: 100%;
    }
    .about_text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        min-width: 367px;
    }
    .about__contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 480px;
        min-width: 367px;
        height: 200px;
        
    } 
    .about__contact1-number {
        background-color: rgb(255, 255, 255);
        width:  60%px;
        height: 410px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        }
        .about__contact2-number {
            background-color: rgb(255, 255, 255);
            width: 60%px;
            height: 410px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        .about__contact3-number {
            background-color: rgb(255, 255, 255);
            width:  60%px;
            height: 410px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        .about_block-men-and-sea {
            background: url(../img/men_and_sea.jpg) no-repeat bottom ;
            background-size: cover;
            height:2300px;
            
        }
        .about__contact1-photo1 {
            width: 200px;
            height: 117px;
            margin-top: 15px;
        }
        .about__contact2-photo2 {
            width: 200px;
            height: 117px;
            margin-top: 15px;
        }
        .about__contact3-photo3 {
            width: 180px;
            height: 117px;
            margin-top: 15px;
        }
        .about__description-oll {
          width: 100%;
        }
        .about__description1 {
            margin-left: 20px;
            margin-right: 20px; 
            }
            .about__description2 {   
                margin-left: 20px;
                margin-right: 20px;
            }
            .clock_sea{
                width:350px;
                height:350px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: url(../img/clock_sea.png), no-repeat bottom;
                background-size: cover;
                box-shadow: 0 -15px 15px rgba(134,134,134,0.35), inset 0 -15px -15px #191919,
                0 15px 15px rgba(134,134,134,0.35), inset 0 15px -15px #191919;
                border-radius: 50%;
                margin: 500px auto;
            }
    }