/* Kupinskyi */
.places {
    margin: 7%;
}

.places__text {
    margin: 40px 0;
}

.places__text-title {
    font-size: 13px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .03em;
    color: var(--subtitle-dark-color);
    margin: 0;
}

.places__text-subtitle {
    font-size: 45px;
    color: var(--description-text-dark);
    line-height: 1.2;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .03em;
    margin: 20px 0 0;
}

.places__text-description {
    font-size: 19px;
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    color: var(--description-text-dark);
    margin: 0;
    padding: 3% 0%;
}

.title__divider {
    color: var(--dash-color);
    margin-right: 5px;
}

.nav-link {
    font-size: 17px;
    letter-spacing: .03em;
    font-family: Roboto, sans-serif;
    color: var(--subtitle-dark-color);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--description-text-dark);
}

.places__content-city {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city__image {
    box-sizing: border-box;
    height: 400px;
    max-width: 600px;
    padding: 5%;
}

.city__image img {
    padding: 3%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 52.55% 45.379%;
}

.city__text {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city__title {
    font-size: 13px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .03em;
    color: var(--description-text-dark);
}

.city__subtitle {
    font-size: 36px;
    color: var(--description-text-dark);
    line-height: 1.33;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    margin: 10px 0 0;
}

.city__apartments {
    font-weight: bold;
    margin: 20px 0;
}

.apartments__night {
    font-size: 19px;
    color: var(--dash-color);
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.apartments__type {
    font-size: 15px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--description-text-dark);
}

.city__description {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    letter-spacing: .03em;
    color: var(--text-description-color);
}

.city__features {
    display: flex;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    color: var(--description-text-dark);
}

.city__features > p {
    padding: 10px 10px 0;
}

.city__button {
    margin-top: 40px;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 120px;

}

.city__button:hover {
    background-color:#262629;
    color: white;
}

.places__countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 25px;
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    color: white;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 23px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    font-family: 'Montserrat', 'sans-serif';
}

.places__countdown p a {
    text-decoration: none;
    color: var(--description-text-dark);
}

.countdown-timer {
    font-size: 30px;
    margin-top: -20px;
}

@media (min-width: 760px) {
    .places__text {
        margin-right: 35%;
    }

    .places__content-city {
        display: flex;
        flex-direction: row;
    }

    .city__image {
        box-sizing: border-box;
        width: 50%;
        height: 900px;
        padding: 3%;
    }

    .city__image img {
        padding: 5%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 52.55% 45.379%;
    }

    .city__text {
        padding: 0 20% 0 0;
        width: 50%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .city__apartments {
        display: flex;
        font-weight: bold;
        margin: 30px 0;
    }

    .city__subtitle{
        margin: 20px 0;
    }

    .city__button{
        padding: 10px;
        width: 140px;
    }

    .apartments__night {
        width: 50%;
    }

    .apartments__type {
        width: 50%;
    }

    .places__countdown {
        width: 50%;
    }
}