/* Kupinskyi */
.places {
    margin: 5%;
}

.places__text-title {
    font-size: 13px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .03em;
    color: #6f7380;
    margin: 0;
}

.places__text-subtitle {
    font-size: 45px;
    color: #505155;
    line-height: 1.2;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .03em;
    margin: 20px 0 0;
}

.places__text-description {
    font-size: 19px;
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    color: #505155;
    margin: 0;
    padding: 3% 0%;
}

.title__divider {
    color: var(--dash-color);
    margin-right: 5px;
}

.places__content-city {

}

.city__image {

}

.city__image img {
    padding: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 52.55% 45.379%;
}

.city__text {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city__title {
    font-size: 13px;
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0;
    color: #505155;
}

.city__subtitle {
    font-size: 30px;
    color: #505155;
    line-height: 1.2;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .03em;
    margin: 10px 0 0;
}

.city__apartments {
    font-weight: bold;
    margin: 20px 0;
}

.apartments__night {
    font-size: 20px;
    color: var(--dash-color);
}

.apartments__type {
    font-size: 16px;
    color: #505155;
}

.city__description {
    font-size: 20px;
    color: #6f7380;
}

.city__features {
    display: flex;
    font-size: 14px;
    color: #6f7380;
}

.city__features > p {
    padding: 10px 5px 0;
}

.city__button {
    margin-top: 40px;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 120px;

}

.city__button:hover {
    background-color:#262629;
    color: white;
}

@media (min-width: 760px) {
    .places__text {
        margin-right: 35%;
    }

    .places__content-city {
        display: flex;
        flex-direction: row;
    }

    .city__image {
        box-sizing: border-box;
        width: 50%;
        height: 900px;
        padding: 3%;
    }

    .city__image img {
        padding: 5%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 52.55% 45.379%;
    }

    .city__text {
        padding: 0 20% 0 0;
        width: 50%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .city__apartments {
        display: flex;
        font-weight: bold;
        margin: 30px 0;
    }

    .city__subtitle{
        margin: 20px 0;
    }

    .city__button{
        padding: 10px;
        width: 140px;
    }

    .apartments__night {
        width: 50%;
    }

    .apartments__type {
        width: 50%;
    }
}
