.stunning-spots__line {
    color: rgb(238, 46, 20);

}

.stunning-spots__title {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: var(--description-text-light);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-top: 80px;
}

.stunning-spots__subtitle-grey {
    color: var(--description-text-dark);
}

.stunning-spots__subtitle {
    color: white;
    font-size: 34px;
    font-family: Playfair Display;
    font-weight: 700;
    width: 80%;
    line-height: 40.8px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.stunning-spots__describtion {
    color: var(--description-text-light);
    font-size: 17px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    margin-bottom: 60px;
}

.main__carousel-images,
.main-quote {
    background-color: #232428;
}

.main__carousel-images {
    width: 100%;
}

.quote-text {
    color: white;
    text-align: center;

}

.quote-author {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.spots-carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 80%;
    padding: auto;
    margin: auto;
}

.stunning-spots__subtitle {
    color: white;
    font-size: 34px;
    font-family: Playfair Display;
    font-weight: 700;
    width: 80%;
    line-height: 40.8px;
    margin-top: 20px;
    margin-bottom: 45px;
}

@media (min-width: 600px) {
    .spots-carousel-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    .stunning-spots__subtitle {
        font-size: 45px;
    }

    .stunning-spots__title {
        font-size: 13px;
    }

}


.quote-divider-left,
.quote-divider-right {
    color: var(--description-text-light);
    width: 36%;
}

.quote-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
    padding-top: 150px;


}

.quotes>img {
    width: 60px;
    margin: 20px;
}



.quote-text {
    font-family: Playfair Display;
    font-size: 18px;
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding-bottom: 40px;
    line-height: 33.84px;
}

.quote-author {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: var(--description-text-light);
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.quote-divider-bottom {
    padding-bottom: 40px;
    color: var(--description-text-light);
    width: 89%;
    margin: auto;
}

@media (min-width: 600px) {
    .quotes>img {
        width: 85px;
    }

    .quote-text {
        width: 65%;
        font-size: 21px;
    }

    .main-quote {
        width: 50%;
        margin: auto;
    }

    .quote-divider-bottom {
        width: 82%;
    }

    .quote-author {
        font-size: 17px;
    }

}



/* #spots__slider-content {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease;
  width: 100%;
 }

 #spots__slider-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:  -1;
 }

 .spots__slider-container * {
    box-sizing: border-box;
 }
 
 .spots__slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
    display: block;
 }

 .spots__slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
 }

 .spots__slide.active {
    opacity: 1;
 }

 .spots-arrow {
    position: absolute;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    color: white;
    
 }

 .spots-left-arrow {
    left: calc(15vw - 65px);
}

.spots-right-arrow {
    right: calc(15vw - 65px);
}

.spots-arrow:focus {
    outline: 0;
} */

.spots__content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    overflow: hidden;

    background-image: url(/img/carousel-slide-bridge.png) ;
    background-position: center center;
    background-size: cover;
    transition: 0.4s ease;

    filter: brightness(130%);
}

img.spots__content {
    background-color: rgba(0, 0, 0, 0.7);
}

.spots__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;

}


.spots__slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
    display: block;

}

.spots__slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;





}

.spots__slide.active {
    opacity: 1;

}

/* .spots__buttons {
    /* display: flex; */
/* width: 100%; */

/* } */
#spots-left,
#spots-right {

    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;


}

.spots-left-arrow {
    left: calc(15vw - 65px);
}

.spots-right-arrow {
    right: calc(15vw - 65px);
}

.spots-arrow:focus {
    outline: 0;
}