.route__content {
    background-image: url(../img/background__route.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    color: white;
}

.route__content-text {
    display: flex;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 120px;
}

.icon__map {
    margin-right: 80px;
    padding-left: -20px;
    padding-right: 10px;
}

.route__map {
    flex-direction: column;
    width: 400px;
    margin-right: 30px;
    padding-top: 40px;
}

.icon__map-route {
width: 570px;
height: 608px;
}

.subtitle__devider {
    color: rgb(238,46,20);
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.route__map-subtitle {
    color:rgba(255,255,255,0.6);
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.first__name {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Playfair Display", serif;
    text-align: left;
}

.list__offers {
    list-style-type: none;
}

.photo__offers {
    background: #14a9ee;
    border-radius: 30%;
    max-width: 100%;
}