.route__content {
    background-image: url(../img/background__route.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    color: white;
}

.route__content-text {
    display: flex;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 120px;
}

.icon__map {
    margin-right: 80px;
    padding-left: -20px;
    padding-right: 10px;
}

.route__map {
    width: 515px;
    margin-right: 30px;
    padding-top: 40px;
    flex-direction: column;
}

.icon__map-route {
width: 570px;
height: 608px;
}

.subtitle__devider {
    color: var(--dash-color);
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.route__map-subtitle {
    color: var(--subtitle-light-color);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}

.name__title {
margin-bottom: 55px;
}

.first__name {
    color: var(--title-light-color);
    font-size: 45px;
    font-family: "Playfair Display", serif;
    text-align: left;
    font-weight: 700;
}

.second__name {
    color: var(--main__text-color);
    font-size: 45px;
    font-family: "Playfair Display", serif;
    text-align: left;
    font-weight: 700;
}

.route__decription {
    color: var(--description-text-light);
    font-size: 17px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    margin-bottom: 30px;
}

.list__offers {
    list-style-type: none;
    flex-direction: column;
}

.all__offers {
    display: flex;
    padding-bottom: 20px;
}

.route__offers {
    padding: 15px 20px 10px 0px;
}

.decription__offers {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.photo__offers {
    background: var(--button-color);
    border-radius: 40%;
    max-height: 100%;
    width: 60px;
}

.name__offers {
    color: var(--text-accordion-color);
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-top: 13px;
}
